
[submodule "XmlRopidImportStream"]
	path = XmlRopidImportStream
	url = https://github.com/frutabruta/XmlRopidImportStream
[submodule "VDV301struktury"]
	path = VDV301struktury
	url = https://github.com/frutabruta/VDV301struktury.git
